.y-section-1 .y-text-1{
	font-size: 24px !important;
	line-height: 30px !important;
	margin-top: 25px !important;
	color: white !important;
    background-color: #009999;
    padding: 10px;
}

.y-section-1 .y-text-0 {
	color: #009999;
}

.y-section-1 .y-text-3{
	color: #009999;
	font-weight: 400 !important;
}

/*.u-section-2 .u-repeater-1 {
	grid-template-columns: repeat(3, 33.33333333%) !important;
}*/

.y-section-2{
	width: 90%;
	max-width: 1200px;
    margin: 60px auto 0;
}

.y-section-2 .y-text-2{
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.y-section-2 .u-repeater-1{
	grid-template-columns: repeat(3, 33.33333333%) !important;
}

.y-section-2 .u-list-1{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.y-section-2 .u-layout-wrap-1 {
    margin: 60px 0 !important;
}

.y-section-4 .y-text-2, .y-section-2 .y-text-2, .y-section-2 .y-text-3, .giustifica{
	text-align: justify;
	text-justify: inter-word;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.y-section-4 .y-text-2, .y-section-2 .y-text-2, .y-section-2 .y-text-3{
	.line-height: 28px;
}


.y-section-2 .y-text-2{
	line-height: 36px;
}

.u-section-5 .u-image-1 {
    background-image: url(images/manina2.webp) !important;
}

.u-section-6 .u-image-1 {
    background-image: url(images/004.webp) !important;
}

.u-footer {
	background-color: #8dacb0;
}

.u-footer .u-sheet-1 {
    min-height: unset;
}

.u-footer .u-text-1 {
    margin: 20px auto;
}

.y-btn-1{
	background-color: #009999 !important;
}

.u-input.u-palette-4-base, .u-field-input.u-palette-4-base, .u-button-style.u-palette-4-base, .u-button-style.u-palette-4-base[class*="u-border-"] {
    background-color: #009999 !important;
}

.u-hover-palette-4-light-1:hover, .u-hover-palette-4-light-1:hover, .u-button-style.u-palette-4-base:hover, .u-button-style.u-palette-4-base:hover, .u-button-style.u-palette-4-base[class*="u-border-"]:hover{
    background-color: #57c0c0 !important;
}

.y-section-3 .u-container-layout-2 {
	background-color: #009999 !important;
}

.y-section-3 .u-list-1 li{
	margin-bottom:10px;
}

.y-section-3 .u-list-1 li::marker{
	font-weight: bold;
	margin-right: 2ch;
}

.y-section-3 .u-list-1 li span, .u-section-7 .u-list-1 li span{
	position: relative;
	left: 10px;
}

.u-section-3 .u-list-1{
    width: 98%;
}

.u-section-7 .u-list-1{
	margin-top: 15px;
}

.u-section-7 .u-list-1 li span{
	font-weight: normal !important;
	line-height: 30px;
}

.u-section-4 .u-image-1 {
    margin: -665px auto 0 30px !important;
	background-image: url(images/003.webp);
}

.u-section-4 .u-group-1 {
    margin: 170px 35px 6px auto !important;
}

.u-section-4 .u-text-1{
    text-align: center !important;
    color: #009999 !important;
}

.vettoretitolo{
	color: #046e6e !important;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
}

.u-section-5 .u-list-1 {
    width: unset !important;
    margin: 50px 0 0 0 !important;
}

.vettoriimmagine{
	width: 100px;
	height:100px;
	object-fit: cover;
	border-radius: 50%;
}

/*.u-section-5 .u-layout-wrap-1 {
    width: 90% !important;
	max-width: 1200px !important;
	text-align: center;
	display: flex !important;
	flex-direction: row;
	justify-content: center;
}*/



.y-section-2 .u-text-2 p{
	color: #009999 !important;
}

.u-section-7 .u-text-1{
	color: #009999 !important;
}

.u-inner-container-layout{
	background-color: #009999;
}

.u-section-2 .u-image-1 {
    height: 832px;
}

.u-section-2 {
    min-height: 1114px;
}

.u-section-3 .u-text-3 {
    margin-left: 0;
	margin-right: 0;
}

.u-section-3 .u-text-4 {
    margin-left: 0;
}

.u-section-4 .u-shape-1 {
    background-image: url("images/default-logo.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.spcontainer{
	padding-left: 10%;
	padding-right: 10%;
	/*padding-top: 30px;
	padding-bottom: 30px;*/
	background-color: #009999;
	
}

.spcontainer .u-white .u-text-1{
	text-align: center !important;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0 !important;
}

.spcontainer .u-white{
	color: white;
	background-color: unset !important;
	text-align: center;
}

.splide{
	height: 500px;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.splide__slide img {
	height: 500px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}

.splide__arrows {
	top: 250px;
}

.u-section-2 .u-image-5 {
    background-image: url(images/principiante_t.webp);
}

.u-section-2 .u-image-2 {
    background-image: url(images/base_t.webp);
}

.u-section-2 .u-image-3 {
    background-image: url(images/intermedio_t.webp);
}

.u-section-2 .u-image-4 {
    background-image: url(images/avanzato_t.webp);
}

.u-section-8 .u-sheet-1 {
    min-height: unset !important;
}

.u-section-8{
	font-family: Raleway,sans-serif;
}

.u-section-8 .testo1{
	color: #009999 !important;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.u-section-8 .testo2{
	text-align: center;
	margin-bottom: 10px;
	color: #009999 !important;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

.u-section-8 .testo2 a{
	text-decoration: underline;
	color: #009999 !important;
	font-weight: bold;
}

.u-section-8 .socials{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.u-section-8 .socials a{
	color: #009999 !important;
	font-size: 35px;
}

.u-section-3 .u-image-1 {
    min-height: 625px;
    background-image: url(images/benefici2.webp);
    background-position: 50% 50%;
}

.u-section-5 .u-group-3 {
    width: 490px;
}

.u-section-5 .u-text-5 {
	color:white !important;
}

.u-section-5 .u-group-3 {
	background-color: #009999;
}

.u-section-5 .u-layout-wrap-1 {
    width: 95%;
}

.u-section-5 .u-image-1 {
    height: 350px;
	width: 350px !important;
}

.u-section-5 .u-container-layout-7 {
    padding-left: 50px;
}